.new-game-component {
	padding-bottom: 10px;
    display:flex;
    flex-direction: column;
    background-color: #C4C4C4;

	.small-logo {
		height: 50px;
		text-align: center;
        background-color: #fff;

		img { height: 100%; }
	}

	.wizard-step {
		
		height: calc(100vh - 160px);
		padding: 10px;
	}

	.wizard-step-button {
		height: 50px;
        width: 90%;
        align-self: center;
	}

	h1 { font-family: 'Roboto Condensed', sans-serif; }
}

.wizard-step {
	.item {
		background: #fff;
		margin-bottom: 8px;
		font-weight: bold;
		font-size: 1.2rem;

		input:checked + label {
			color: white;
			background: #000;
		}

		input:checked + label .selection {
			background-color: #A32121;
		}
	}

	label {
		display: flex;
		align-items: center;
		padding: 0 10px;
		height: 45px;
		transition: background-color 0.2s ease-in-out;

		.text {
			padding: 0 10px;
			transition: color 0.2s ease-in-out;
            flex: 1;
		}

		.selection {
			width: 30px;
			height: 30px;
			background-color: #C4C4C4;
			transition: background-color 0.2s ease-in-out;
		}
	}

    input:checked + label .image-expand {
        svg {
            fill: #F2F2F2;
        }
    }

	.image-expand {

        svg {
            transition: all 0.2s ease-in-out;
            fill: #525252;
        }
    }
}