#app {
	width: 100%;
	height: 100%;
}

.main-content{
	width: 100%;
	height: calc(100% - 57px); // bottom fixed menu height
	
	& > * {
		height: 100%;
		width: 100%;
	}
	
}

.ui.menu .item.router-link-exact-active {
	background-color: rgba(255,255,255,.08);
}

.home-component {
	background-color: #D6D6D6;

	&:before {
		content: "";
		width: 0;
		height: 0;
		position: absolute;
		border: 160px solid transparent;
		border-top-color: white;
		left: calc(50% - 160px);
		z-index: 1;
	}

	.main-logo {
		z-index: 2;
		position: relative;
		height: 150px;

		& img {
			width: 150px;
			display: block;
			margin: 0 auto;
		}
	}

	h1 {
		text-align: center;
		font-size: 3rem;
		margin: 10px 0;
	}

	.login-form {
		width: 80%;
		max-width: 400px;
		margin: 30px auto 0;
	}
}

.visually-hidden {
	visibility: hidden;
	display: none;
}


@import "components/home/home.scss";
@import "components/new-game/new-game.scss";